body{
  background-color: #212121;
}

@font-face{
  font-family: custom;
  src: url('./font.ttf');
}

#roundLabel{
  text-align: center;
  padding: 10px;
  color: #A51C30;
  font-size: 60px;
  font-family: custom;
}

#content{
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#outerContainer{
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.innerContainer{
  padding: 20px;
}

.square{
  height: 100px;
  width: 100px;
  background-color: #A51C30;
  color: #FFF;
  font-family: custom;
  font-size: 35px;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#info{
  display: flex;
  flex-direction: column;
}

#userInputLabel{
  text-align: center;
  padding: 10px;
  color: #FFF;
  font-size: 30px;
  font-family: custom;
}

#correctSequenceLabel{
  text-align: center;
  padding: 10px;
  color: #FFF;
  font-size: 30px;
  font-family: custom;
}